{:paths ["bootstrap/clojure/src"]
 :aliases
 {:gravity
  {:main-opts ["-m" "gravity.bootstrap"]}

  :test
  {:extra-paths ["bootstrap/clojure/test"]
   :main-opts ["-m" "gravity.self-hosting-test-runner"]}

  :stage0-test
  {:extra-paths ["bootstrap/clojure/test"]
   :main-opts ["-m" "gravity.bootstrap-test"]}

  :dev-test
  {:extra-paths ["bootstrap/clojure/test"]
   :main-opts ["-m" "gravity.development-test-runner"]}}}
