{:release-compiler-clojure-seed-boundary? true, :compiler-path-clojure-seed-boundary? true, :runtime-path-id "sha256:1f2d43d377cdc24e78d7b650420b6fd86f17e700fba4eeaf1f9547812b15890d", :binary-release-boundary-finalized? false, :bootstrap-recovery-command "bin/gravity-bootstrap", :schema-version "gravity.release-seed-boundary/v1", :runtime-path-clojure-seed-boundary? true, :p15-final-seed-retirement-proof-id "sha256:f3475037fbac3f85baa49d1b1b5c9719f053ab2db8afbf2e5ad798953ebcae7e", :status :failed, :release-artifact-candidate-clojure-seed-boundary? true, :release-compiler-id "sha256:378cec7395e7b143cc33e1bef4dcef44736b4fa8624d93d82ee6295f4b6457cf", :artifact :gravity/p18-t03-seed-boundary-record, :bootstrap-recovery-boundary :clojure-stage0-audit-recovery, :compiler-path-id "sha256:91e332e6700f332d64590087922fe5ea4dafeda71bc96f1fa63bca828e8f519b", :public-command-contract-complete? false}
