{:schema :gravity/clojure-source-loc-baseline-v1
 :maximum-physical-lines 250
 :source-roots ["bootstrap/clojure/src"]
 :extensions [".clj" ".cljc"]
 :oversized-files
 {"bootstrap/clojure/src/gravity/bootstrap.clj" 164445
  "bootstrap/clojure/src/gravity/c10_safety_analysis.clj" 864
  "bootstrap/clojure/src/gravity/c17_c18_pass_cache.clj" 417
  "bootstrap/clojure/src/gravity/c17_plugin.clj" 719
  "bootstrap/clojure/src/gravity/c18_verification.clj" 769
  "bootstrap/clojure/src/gravity/c2_artifact_identity.clj" 392
  "bootstrap/clojure/src/gravity/c2_lexical_validation.clj" 393
  "bootstrap/clojure/src/gravity/c2_pass_cache.clj" 2274
  "bootstrap/clojure/src/gravity/c2_reader_diagnostics.clj" 477
  "bootstrap/clojure/src/gravity/c2_reader_product_projection.clj" 325
  "bootstrap/clojure/src/gravity/c2_source_identity.clj" 406
  "bootstrap/clojure/src/gravity/c3_literal_projection.clj" 316
  "bootstrap/clojure/src/gravity/c3_reader_integrity.clj" 318
  "bootstrap/clojure/src/gravity/c3_syntax_diagnostics.clj" 270
  "bootstrap/clojure/src/gravity/c4_macro_evidence.clj" 309
  "bootstrap/clojure/src/gravity/c5_name_resolution.clj" 1168
  "bootstrap/clojure/src/gravity/c6_core_lowering.clj" 697
  "bootstrap/clojure/src/gravity/c7_type_checker.clj" 818
  "bootstrap/clojure/src/gravity/c8_effect_checker.clj" 724
  "bootstrap/clojure/src/gravity/c9_ownership_checker.clj" 974
  "bootstrap/clojure/src/gravity/capability_validation.clj" 537
  "bootstrap/clojure/src/gravity/compiler_pass_manifest.clj" 1016
  "bootstrap/clojure/src/gravity/core_ast_lowering.clj" 696
  "bootstrap/clojure/src/gravity/darwin_publication.clj" 1692
  "bootstrap/clojure/src/gravity/macro_expansion.clj" 885
  "bootstrap/clojure/src/gravity/module_analysis.clj" 901
  "bootstrap/clojure/src/gravity/optimization_lowering.clj" 752
  "bootstrap/clojure/src/gravity/p15_native_packet_binding.clj" 559
  "bootstrap/clojure/src/gravity/p15_native_plan_specialization.clj" 814
  "bootstrap/clojure/src/gravity/p15_public_native_admission.clj" 2374
  "bootstrap/clojure/src/gravity/pass_cache.clj" 2691
  "bootstrap/clojure/src/gravity/pass_execution.clj" 1186
  "bootstrap/clojure/src/gravity/profile_validation.clj" 569
  "bootstrap/clojure/src/gravity/self_hosting/a1_canonical_schema.clj" 922}}
