{:package-version "0.0.0-p18-t02", :content-hash "sha256:fb95987976a96d4c035efd235778bf9268e560329ef547c125a049299ffa7458", :package-id "gravity/jvm-cli", :artifact-id "sha256:a86d1cc719e2057ae8e49a011cd62ff0cc4568bc88c653a6edd5413804d42954", :bootstrap-hosted? true, :schema-version "gravity.package-manifest/v1", :artifact-path "target/phase-18/jvm-cli/gravity-jvm-cli.jar", :packaged-jvm-cli? true, :replacement-objective :replace-with-self-hosted-release-artifact, :source-roots ["bootstrap/clojure/src" "bootstrap/clojure/java"], :runtime :clojure/jvm, :entrypoint "gravity.cli.Main", :public-release-boundary? false, :artifact :gravity/p18-t02-package-manifest, :target :jvm-hosted, :profile :hosted, :artifact-kind :executable, :seedless-release? false}
